.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header a:hover{
    color: orange;
}
.btn-logout{
    border: none;
    margin-left: 20px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 17px;
    border-radius: 5px;
}
.btn-logout:hover{
  background-color: aqua;
  color: white;
}